<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>The Gaslight Anthem &ndash; Spindal</title>
<meta name="author" content="Peng Zhong">

<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

</head>

<body>
  <span id="ajax_loading" class="ajax-loading"></span>
  <span id="dirty_resource" class="dirty-resource">
    <img src="/assets/saving-wait-indicator.png"/>
  </span>
  <ul class="gallery-arrows">
    <li><a href="#" class="gallery-prev">Prev</a>
    <li><a href="#" class="gallery-next">Next</a>
  </ul>

  <a class="spindal show active" href="#">Show menu</a>

  <div id="spindal">
    <header class="artist">
      <img class="logo" id="band_logo" src="i/artist-logo.png" alt="The Gaslight Anthem">
      <a class="spindal hide" href="#">Hide menu</a>
      <a class="nav-profile" href="#">Show profile</a>
    </header>
    <nav class="profile">

    </nav>
    <div class="albums">
      <ul class="albums">
        <%= render partial: 'albums/album', collection: @band.albums %>
      </ul>
    </div>
    <div id="empowered"><img src="/assets/empowered-by-spindal.png"></div>
  </div><!--menu-->

  <div class="spindal pane lyrics">
    <a class="pane hide" href="#"><img src="i/hide-menu-arrow.png" alt="Hide menu"></a>
    <h1>American Slang</h1>
    <div class="body"><pre>
    Look what you started,
    I seem to be coming out of my skin
    Look what you've forgotten here
    The bandages just don't keep me in

    And when it was over, I woke up alone

    And they cut me to ribbons and taught me to drive
    I got your name tattooed inside of my arm
    I called for my father but my father had died
    While you told me fortunes, in American Slang

    Look at the damage,
    the fortunes came for the richer men.
    while we're left with gallows,
    waiting for us liars to come down and hang.

    And when it was over, I woke up alone

    And they cut me to ribbons and taught me to drive
    I got your name tattooed inside of my arm
    I called for my father but my father had died
    while you told me fortunes, in American Slang

    And here's where we died that time last year,
    And here's where the angels and devils meet.
    And you can dance with the queen if you need,
    And she will always keep your cards
    Close to her heart oooh
    So close to her heart before they tear you apart

    when they cut me to ribbons and taught me to drive
    I got your name tattooed inside of my arm
    And I called for my father but my father had died
    I called for my father but my father had died
    while you told me fortunes, in American Slang
    You told me fortunes, in American Slang</pre>
    </div>
  </div>

  <div class="spindal pane bio">
    <a class="pane hide" href="#"><img src="i/hide-menu-arrow.png" alt="Hide menu"></a>
    <h1>The Gaslight Anthem</h1>
    <div class="body">
    The Gaslight Anthem is an American rock band from New Brunswick, New Jersey, consisting of Brian Fallon (lead vocals, guitar), Alex Rosamilia (guitar, backing vocals), Alex Levine (bass guitar, backing vocals) and Benny Horowitz (drums, percussion). They released their first album, Sink or Swim, on XOXO Records in May 2007, and their second album, The '59 Sound, on SideOneDummy Records in August 2008. The band's third album, American Slang, was released on June 15, 2010.
    <br><br>

    Brian Fallon - lead vocals, guitar<br>
    Alex Rosamilia - guitar, backing vocals<br> 
    Alex Levine - bass, backing vocals<br>
    Benny Horowitz - drums, percussion, tambourine<br><br>

    "The Gaslight Anthem is part of a rich tradition of New Jersey punk, spanning the Misfits to the Bouncing Souls." The Gaslight Anthem's music also embraces many elements of the Jersey Shore sound. Brian Fallon's fondness for Springsteen, a significant influence on their music, is a fact celebrated by fans and critics alike. However the band claims they never set out to sound like the New Jersey icon. Representative of such views, one critic wrote, "The Gaslight Anthem are like something out of speculative fiction: this is what pop music would be if Springsteen hadn't listened to his producer, let The Ramones record Hungry Heart, and launched the C.B.G.B.'ers into megastardom." Drummer Benny Horowitz and guitarist Alex Rosamilia stated that "We're more Bruce Springsteen appreciators. We didn't start listening to him until we joined the band. I always liked his songs when I heard them, but I wasn't a big fan until I met Brian."
    </div>
  </div>

  <div class="spindal pane live">
    <a class="pane hide" href="#"><img src="i/hide-menu-arrow.png" alt="Hide menu"></a>
    <table class="events">
      <thead>
        <tr>
          <th class="date">Date
          <th class="loc">City, State
          <th class="venue">Venue
          <th class="tickets">&nbsp;
      <tbody>
        <tr>
          <td class="date">March 12th, 2011
          <td class="loc">Los Angeles, California
          <td class="venue">The Greek Theatre
          <td class="tickets"><a href="#">Tickets</a>
        <tr>
          <td class="date">March 14th, 2011
          <td class="loc">Seattle, Washington
          <td class="venue">Neumos
          <td class="tickets">&nbsp;
    </table>
  </div>

  <div class="spindal pane news">
    <a class="pane hide" href="#"><img src="i/hide-menu-arrow.png" alt="Hide menu"></a>
    <h1>News</h1>
    <div class="body">
    Gaslight has recorded a cover or Bob Dylan’s Changing Of The Guards for the forthcoming Amnesty Internation compilation “Chimes Of Freedom: The Songs Of Bob Dylan” to be released January 24th and featuring artists like Queens of the Stone Age, Pete Townshend, and a ton of other awesome artists. Read more at this link.<br><br>
    We are excited to announce that our iTunes Session will be released on December 13th, 2011 via SideOneDummy. We recorded the session this past July at the Magic Shop in NYC with our good friend Ted Young and we really happy with how it came out! The session features 4 covers (the Who, Pearl Jam, the Animals and Tom Petty) along with one track that we have never put on a record before called “Our Fathers Sons” and then a new version of “Boxer.” iTunes has posted the PRE-ORDER for the Session today here…and anyone pre-orders will get to download our cover of “State of Love and Trust” instantly, if you want to just stream “State of Love and 
    Trust” you can do that over at ROLLING STONE.
  <br><br>
    </div>
  </div>

  <a href="#" class="play big">Play</a>

<script type="text/javascript">
    user_data = <%= user_signed_in?? (raw current_user.to_json(api: true)) : false %>;
    band_data = <%= raw @band.to_json(api: true) %>;
    app_constants = <%= raw app_data().to_json %>;
</script>

<%= javascript_include_tag "/assets/player" %>


<% if(user_signed_in?) %>
  <%= render partial: 'bands/control_panel' %>
<% end %>

</body>
</html>
