<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ski Resorts" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
	</head>
  <body>
    <header class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<%= link_to 'Ski Resorts', root_path, :class=>"brand" %>
				<ul class="nav nav-pills">
					<li class="active">
						<%= link_to 'Home', resorts_path %>
					</li>
				</ul>
			</div>
		</header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div> <!--! end of .container -->
			<footer>
				<div class="container">
					<div class="row">
						<div class="span12">
							&nbsp;
						</div>
						<div class="span12">
							<p class="muted">&copy; Ski Resorts All Rights Reserved</p>
						</div>
					</div>
				</div>
			</footer>
    </div> <!--! end of #main -->
  </body>
</html>
